@model iStudyTest.Models.ServiceList

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ServiceList</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="MemberID" class="control-label"></label>
                <select asp-for="MemberID" class ="form-control" asp-items="ViewBag.MemberName"></select>
            </div>
            <div class="form-group">
                <label asp-for="CurrentBusiness" class="control-label"></label>
                <input asp-for="CurrentBusiness" class="form-control" />
                <span asp-validation-for="CurrentBusiness" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StateCode" class="control-label"></label>
                <select asp-for="StateCode" class ="form-control" asp-items="ViewBag.State"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-primary">回留單頁</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
