
@{
    ViewData["Title"] = "公司簡介";
}
<div class="jumbotron bg-white">
    <h1 class="font-weight-bold text-center text-warning">虛擬金金保險經紀人股份有限公司</h1>
    <h4 class="font-weight-bold text-center text-warning">Virtual Gold Insurance Brokers Company</h4>
</div>
<div class="container-fluid">
    <div class="row vh-100 d-flex justify-content-center align-items-center">
        <div class="col-12 text-center">
            <img src="~/otherpicture/GoldenCompany.jpg" class="img-fluid w-100"
                 style="max-height: 90vh; object-fit: cover;"
                 alt="公司簡介圖片">
                 <p>歡迎有志青年加入!  (家裡有田有礦者另有經理級以上專屬輔導人員。)</p>
        </div>
    </div>
    
</div>

