@{
    ViewData["Title"] = "隱私權政策";
}
<h3>@ViewData["Title"]</h3>
<h1 class="text-danger">上了網，還想什麼隱私權...</h1>
<div class="container">
    <div>
        <div class="col-lg-6">
            <img src="~/otherpicture/img_noway.jpg" />
        </div>
        <div class="col-lg-6">
            <p ></p>
        </div>

