@model iStudyTest.Models.ServiceList

@{
    ViewData["Title"] = "Create";
}

<h2>線上留單</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
@*             <div class="form-group">
                <label asp-for="MemberID" class="control-label"></label>
                <input asp-for="MemberID" class="form-control" readonly />
            </div> *@
            <div>
                <h3>留單後，將有同仁與您聯絡，<br />
                    請問您是否願意?</h3>
            </div>
            <div class="form-group">
                <input type="submit" value="是的" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-primary">回到線上留單列表</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
