@model iStudyTest.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<h3 class="text-warning">編輯保險商品<i class="bi bi-pencil-square"></i></h3>

<hr />
<div class="row">
    <div class="col-md-5">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductNumber" />
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="ProductNumber" class="control-label"></label>
                    <input asp-for="ProductNumber" class="form-control" readonly />
                </div>
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LaunchDate" class="control-label"></label>
                <input asp-for="LaunchDate" class="form-control" />
                <span asp-validation-for="LaunchDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscontinuedDate" class="control-label"></label>
                <input asp-for="DiscontinuedDate" class="form-control" />
                <span asp-validation-for="DiscontinuedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValidityPeriod" class="control-label"></label>
                <input asp-for="ValidityPeriod" class="form-control" />
                <span asp-validation-for="ValidityPeriod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            @*依VM修改*@
            <div class="form-group">
                <label asp-for="CompanyID" class="control-label"></label>
                <select asp-for="CompanyID" class="form-control" asp-items="ViewBag.Company"></select>
                <span asp-validation-for="CompanyID" class="text-danger"></span>
            </div>

             <div class="form-group">
                <label asp-for="DM" class="control-label"></label>
                <input type="file" name="newdm" id="dm" class="form-control" />
                <span class="text-danger">@ViewData["Message"]</span>
            </div> 

            <div class="form-group">
                <label asp-for="Feature" class="control-label"></label>
                <textarea asp-for="Feature" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Feature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-7">
        @if (Model.DM != null)
        {
            <img src="~/ProductPhotos/@Model.DM" class="card-img-top img-thumbnail" alt="產品圖片" />
        }

        <img id="dmPreview" class="img-fluid" />
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-success">回到商品管理</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $('#dm').change(function(){
            let file = this.files[0];

            let reader = new FileReader();

            reader.onload=function(event){
                 $('#dmPreview').attr('src',event.target.result);
            };
            reader.readAsDataURL(file);
        });
    </script>
}
