@model iStudyTest.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductNumber" />
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LaunchDate" class="control-label"></label>
                <input asp-for="LaunchDate" class="form-control" />
                <span asp-validation-for="LaunchDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscontinuedDate" class="control-label"></label>
                <input asp-for="DiscontinuedDate" class="form-control" />
                <span asp-validation-for="DiscontinuedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValidityPeriod" class="control-label"></label>
                <input asp-for="ValidityPeriod" class="form-control" />
                <span asp-validation-for="ValidityPeriod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyID" class="control-label"></label>
                <select asp-for="CompanyID" class="form-control" asp-items="ViewBag.CompanyID"></select>
                <span asp-validation-for="CompanyID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DM" class="control-label"></label>
                <input asp-for="DM" class="form-control" />
                <span asp-validation-for="DM" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Feature" class="control-label"></label>
                <textarea asp-for="Feature" class="form-control"></textarea>
                <span asp-validation-for="Feature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">回商品列表</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
